<div class="footer">
  <div class="movimenta-zabele">
    <%= image_tag "Movimenta_Picto-G.png", style: "height:10rem" %>
    <%= image_tag "MovimentaZabele_Tipo.png", style: 'height:6rem; padding-inline: 5%;' %>
    <div class="por-dentro" >
      <p>Fique por dentro de nossos projetos e atividades</p>
      <%= image_tag "Flecha_Picto.png", style: 'height:2rem' %>
    </div>
  </div>
  <div class="balls">
      <div class="blue-ball">
        <p id="font-1-ball">PARTICIPE DA
          REDE COLABORATIVA DE PROJETOS MULTICULTURAIS
          E EDUCACIONAIS LEVANTA ZABELÊ.</p>
        <p id="font-2-ball"></p> Qual a sua potência? Entre em contato
          e saiba como colaborar:
        <p><b>levantazabele@gmail.com</b>
          ou em nossas redes sociais.</p>
      </div>
    <div class="division-balls">
      <div class="green-ball">
        <p id="font-1-ball"><b>APOIE NOSSO CROWDFUNDING
        E A REALIZAÇÃO
        DO UNIVERSO ÚTERO AMOTARA ZABELÊ.</b></p>
      </div>
      <div class="black-ball">
        <p id="font-1-ball"><b>EMPRESAS, ENTIDADES CIVIS E INVESTIDORES, SEJAM NOSSO PARCEIRO NESSA JORNADA</b></p>
        <p id="font-2-ball">Entre em contato:
        <b>levantazabele@gmail.com</b></p>
      </div>
    </div>
  </div>
  <div class="icons">
    <%= image_tag "Levanta-Zabele_Logo-Picto" %>
    <%= image_tag "Indicador-link-responsivo.png" %>
  </div>
</div>
