<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <div class= "navbar navbar-expand-sm navbar-light navbar-lewagon">

    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "Levanta-Zabele_Logo-Picto.png" %>
    <% end %>
    <div class="indicator">
      <%= image_tag "Levanta-Zabele_Indicador-Link.png" %>
    </div>
    <%= link_to "/una", class: "navbar-brand" do %>
      <%= image_tag "Universo-Una_Logo-Picto.png" %>
    <% end %>
    <%= link_to "/utero", class: "navbar-brand" do %>
      <%= image_tag "Utero_Logo-Picto.png" %>
    <% end %>
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "Movimenta-Zabele_Picto.png" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

 <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "Contatoi_Picto.png" %>
    <% end %>
    <%= link_to "https://www.facebook.com/levantazabele", class: "navbar-brand", target: :_blanck do %>
      <%= image_tag "Facebook_Picto.png" %>
    <% end %>
    <%= link_to "https://instagram.com/levantazabele?igshid=YmMyMTA2M2Y=", class: "navbar-brand", target: :_blanck do %>
      <%= image_tag "Instagram_Picto.png" %>
    <% end %>
    <%= link_to " https://youtube.com/channel/UC1X7g771engFt8QdstDuQPw", class: "navbar-brand", target: :_blanck do %>
      <%= image_tag "YouTube_Picto.png" %>
    <% end %>
  </div>

</div>
