<div class="main-container">

  <div class="container-1">
    <div class="levanta-zabele">
      <%= image_tag "Levanta-Zabele_Logo.png" %>
    </div>
  </div>

  <div class="banner-1">
      <%= image_tag "Una_Banner-floater.png" %>
  </div>

  <div class="container-2">
    <%= image_tag "Somos_Titulo.png" %>
    <div class="who-are-we">
      <div class="fonts-1">
        <p>Levanta Zabelê é um núcleo de projetos interculturais.</p>
      </div>
      <div class="fonts-2">
        <p><b>Uma rede de colaboradores</b> do Brasil e do mundo que envolve profissionais, pesquisadores, ativistas, educadores, artistas, artesãos; de variadas origens, culturas e áreas do conhecimento. Juntos, formamos um corpo, orgânico. Um ser-coletivo.
          Com origem indígena, o Levanta Zabelê é uma rede aberta, diversa e realizadora de projetos que promovem experiências de aprendizagem viva com troca de saberes, expressões artísticas, convivências e interações com a Natureza.
          Também integram a rede Levanta Zabelê empresas, entidades e organização civis apoiadoras que compartilham nossos propósitos e contribuem com a realização
          e evolução de nossa sociedade e o planeta.</p>
      </div>
    </div>

  </div>
  <div class="banner-2">
    <%= image_tag "Essencia-Originaria.png" %>
    <div class="fonts-3">
      <p>“Nós, Povos da Floresta, vivenciamos essa transcendência. Sabemos da importância de estarmos ligados
    a outros elementos essenciais à vida.
    Fazemos parte de um todo”.</p>
    <%= image_tag "Yakuy_Monograma.png" %>
    </div>
  </div>

  <div class="container-3">
    <div class="fonts-2">
      <%= image_tag "Yakuy_Titulo.png" %>
      <p><b>Yakuy Tupinambá, origem do Útero.</b></p>
      <p>Da comunidade Tupinambá de Olivença/ Bahia, palestrante na ABL (Academia Brasileira de Letras), junto ao filósofo italiano Gianni Vattimo, em 2008, atuante no evento mídias nativas (São Paulo, em 2007 e 2009). Docente
      no Curso de Extensão em filosofia indígena, Escutar o Outro na Faculdade de Letras da UFRJ em 2010. Pensadora indígena, escritora, comunicadora e idealizadora do Levanta Zabelê e do Universo Intercultural de Saberes Útero Amotara Zabelê.</p>
    </div>
    <div id="yakuy">
      <%= image_tag "Yakuy_Foto.png", style: 'height:70%;width:auto;' %>
    </div>
  </div>

  <div class="banner-3">
    <%= image_tag "Utero_Circulos.png" %>
    <div class="fonts-1">
      <p><b>Nossas ideias e projetos tem uma origem: o Útero.
    Conheça nosso propósito e os conceitos que nos movem.</b></p>
    </div>
  </div>

  <div class="container-4">
    <div class="realizamos">
      <%= image_tag "Realizamos_Titulo.png" %>
      <div class="fonts-5">
        <p style="color: white"><b>Desenvolvemos projetos educativos e interculturais</b></p>
        <p>de variados temas envolvendo mutirões comunitários, fomento de economia sustentável na comunidade tupinambá de Una, onde está localizado o Universo Útero,
        produções artísticas (musicais e audiovisuais), acadêmicas e literárias,
        geração e difusão de conteúdos.</p>
        <p>Veja abaixo alguns projetos e ações realizadas pelo coletivo Levanta Zabelê.</p>
      </div>
    </div>
    <div class="table-projects">
      <table>
        <tr>
            <td><%= image_tag "Movimenta_Box-Una.png" %></td>
            <td id='whiteFont'>Universo Autônomo Intercultural de Saberes Útero Amotara Zabelê.</td>
            <td id='white'>Espaço de vivência de educação viva localizado no sul da Bahia.
            Atualmente estamos na fase de construção e captação de recursos. Conheça mais sobre o Universo
            Útero e contribua com sua realização.</td>
        </tr>
        <tr>
            <td><%= image_tag "Atividades-0.jpg" %></td>
            <td id='redFont'>Mantrifesto Utero</td>
            <td id='red'>Universo Autônomo Intercultural de Saberes Útero Amotara Zabelê.</td>
        </tr>
        <tr>
            <td><%= image_tag "Atividades-0.jpg" %></td>
            <td id='orangeFont'>Projeto Loja Colaborativa do Levanta Zabelê</td>
            <td id='orange'>Estamos desenvolvendo o projeto da loja virtual
            do Levanta Zabelê com envolvimento das comunidades tupinambá de Una.
            O projeto inlcui oficinas e cursos profissionalizantes para capacitação de jovens-aprendizes, que serão
            os protagonistas na administração, gestão e operação da loja. Em breve mais novidades aqui no site e
            nas redes sociais do Zabelê</td>
        </tr>
      </table>
    </div>
    <div class="movimenta">
      <%= image_tag "Movimenta_Picto-G.png", style: "height:10rem" %>
      <%= image_tag "MovimentaZabele_Tipo.png", style: 'height:7rem' %>
      <div class="realizamos-2">
        <p>Fique por dentro de nossos projetos e atividades</p>
        <%= image_tag "Flecha_Picto.png", style: 'height:2rem' %>
      </div>
    </div>
  </div>

  <div class="container-5">
    <div class="net">
      <%= image_tag "Rede_Titulo.png" %>
      <p>Conheça nossos apoiadores e parceiros que estão juntos nessa jornada, fazendo acontecer.</p>
    </div>
    <div class="partners">
      <%= image_tag "Rede_Serbrand.png" %>
      <%= image_tag "Rede_UFSB.png" %>
      <%= image_tag "Rede_Visibilidade.png" %>
      <%= image_tag "Rede_FundSaborNatureza.png" %>
    </div>
    <div class="partners">
      <%= image_tag "Rede_Originarias.png" %>
      <%= image_tag "Rede_Macieira.png" %>
      <%= image_tag "Rede_PelasMulheresIndigenas.png" %>
      <%= image_tag "Rede_PlataformaArquitetura.png" %>
    </div>
    <div class="partners">
      <%= image_tag "Rede_Transcriativa.png" %>
      <%= image_tag "Rede_BND.png" %>
    </div>
  </div>
  <div class="cooperate">
      <div id='1'>
        <p>PARTICIPE DA
          REDE COLABORATIVA DE PROJETOS MULTICULTURAIS
          E EDUCACIONAIS LEVANTA ZABELÊ.
          Qual a sua potência? Entre em contato
          e saiba como colaborar:
          levantazabele@gmail.com
          ou em nossas redes sociais.</p>
      </div>
      <div id='2'>
        <p>APOIE NOSSO CROWDFUNDING
        E A REALIZAÇÃO
        DO UNIVERSO ÚTERO AMOTARA ZABELÊ.</p>
      </div>
      <div id='3'>
        <p>EMPRESAS, ENTIDADES CIVIS E INVESTIDORES, SEJAM NOSSO PARCEIRO NESSA JORNADA</p>
      </div>
    </div>
</div>
