<div class="main-container">

  <div class="universo-una">
    <%= image_tag "Universo-Una_Logo.png" %>
  </div>

  <div class="floresta-banner">
    <p id='branco'>Uma escola para a</p>
    <p>vida.</p>
  </div>

  <div class="container-universo-una">
    <%= image_tag "Universo-Una_Logo-Selo.png" %>
    <div class="who-are-we">
      <div class="fonts-1">
        <p>O Universo Autônomo Intercultural de Saberes • Útero Amotara Zabelê, é um espaço educativo de responsabilidade multiétnica.</p>
      </div>
      <div class="fonts-2">
        <p>É organizado pelo coletivo Levanta Zabelê com apoio de um grupo de profissionais de várias áreas do conhecimento e representantes da comunidade local, juntos em busca de realizar um espaço educativo livre, autônomo e aberto para propostas de educação alternativas.</p>
        <b>Um espaço para diálogo, geração de conhecimento, aprendizado e experiências mútuas de interação entre diversas culturas, saberes e fazeres.</b>
      </div>
    </div>

  </div>
  <div class="utero-amontara-container">
    <div class="fonts-utero-amontara">
      <p>Localizado em um ecossistema preservado e com grande biodiversidade,
      permite experiências educacionais envolvendo práticas, métodos e conhecimentos compartilhados, contando com um epaço amplo para realização de atividades
      e infra-estrutura para hospedagem.</p>
    </div>
    <%= image_tag "Universo-Una_Nucleos.png" %>
  </div>

  <div class="local">
    <div class="local-carrosel">
      <%= image_tag "Espaco-2.jpg" %>
    </div>
    <div class="description">
      <p>Local onde será construído o Universo Autônomo Intercultural de Saberes • Útero Amotara Zabelê. no sul da Bahia.</p>
    </div>
  </div>

  <div class="banner-3">
    <%= image_tag "Utero_Circulos.png" %>
    <div class="fonts-1">
      <p><b>Nossas ideias e projetos tem uma origem: o Útero.
    Conheça nosso propósito e os conceitos que nos movem.</b></p>
    </div>
  </div>

  <div class="container-4">
    <div class="realizamos">
      <%= image_tag "Realizamos_Titulo.png" %>
      <div class="fonts-5">
        <p style="color: white"><b>Desenvolvemos projetos educativos e interculturais</b></p>
        <p>de variados temas envolvendo mutirões comunitários, fomento de economia sustentável na comunidade tupinambá de Una, onde está localizado o Universo Útero,
        produções artísticas (musicais e audiovisuais), acadêmicas e literárias,
        geração e difusão de conteúdos.</p>
        <p>Veja abaixo alguns projetos e ações realizadas pelo coletivo Levanta Zabelê.</p>
      </div>
    </div>
    <div class="table-projects">
      <table>
        <tr>
            <td><%= image_tag "Movimenta_Box-Una.png" %></td>
            <td id='whiteFont'>Universo Autônomo Intercultural de Saberes Útero Amotara Zabelê.</td>
            <td id='white'>Espaço de vivência de educação viva localizado no sul da Bahia.
            Atualmente estamos na fase de construção e captação de recursos. Conheça mais sobre o Universo
            Útero e contribua com sua realização.</td>
        </tr>
        <tr>
            <td><%= image_tag "Atividades-0.jpg" %></td>
            <td id='redFont'>Mantrifesto Utero</td>
            <td id='red'>Universo Autônomo Intercultural de Saberes Útero Amotara Zabelê.</td>
        </tr>
        <tr>
            <td><%= image_tag "Atividades-0.jpg" %></td>
            <td id='orangeFont'>Projeto Loja Colaborativa do Levanta Zabelê</td>
            <td id='orange'>Estamos desenvolvendo o projeto da loja virtual
            do Levanta Zabelê com envolvimento das comunidades tupinambá de Una.
            O projeto inlcui oficinas e cursos profissionalizantes para capacitação de jovens-aprendizes, que serão
            os protagonistas na administração, gestão e operação da loja. Em breve mais novidades aqui no site e
            nas redes sociais do Zabelê</td>
        </tr>
      </table>
    </div>
    <div class="movimenta">
      <%= image_tag "Movimenta_Picto-G.png", style: "height:10rem" %>
      <%= image_tag "MovimentaZabele_Tipo.png", style: 'height:7rem' %>
      <div class="realizamos-2">
        <p>Fique por dentro de nossos projetos e atividades</p>
        <%= image_tag "Flecha_Picto.png", style: 'height:2rem' %>
      </div>
    </div>
  </div>

  <div class="container-5">
    <div class="net">
      <%= image_tag "Rede_Titulo.png" %>
      <p>Conheça nossos apoiadores e parceiros que estão juntos nessa jornada, fazendo acontecer.</p>
    </div>
    <div class="partners">
      <%= image_tag "Rede_Serbrand.png" %>
      <%= image_tag "Rede_UFSB.png" %>
      <%= image_tag "Rede_Visibilidade.png" %>
      <%= image_tag "Rede_FundSaborNatureza.png" %>
    </div>
    <div class="partners">
      <%= image_tag "Rede_Originarias.png" %>
      <%= image_tag "Rede_Macieira.png" %>
      <%= image_tag "Rede_PelasMulheresIndigenas.png" %>
      <%= image_tag "Rede_PlataformaArquitetura.png" %>
    </div>
    <div class="partners">
      <%= image_tag "Rede_Transcriativa.png" %>
      <%= image_tag "Rede_BND.png" %>
    </div>
  </div>
  <div class="cooperate">
      <div id="1">
        <p>PARTICIPE DA
          REDE COLABORATIVA DE PROJETOS MULTICULTURAIS
          E EDUCACIONAIS LEVANTA ZABELÊ.
          Qual a sua potência? Entre em contato
          e saiba como colaborar:
          levantazabele@gmail.com
          ou em nossas redes sociais.</p>
      </div>
      <div id='2'>
        <p>APOIE NOSSO CROWDFUNDING
        E A REALIZAÇÃO
        DO UNIVERSO ÚTERO AMOTARA ZABELÊ.</p>
      </div>
      <div id='3'>
        <p>EMPRESAS, ENTIDADES CIVIS E INVESTIDORES, SEJAM NOSSO PARCEIRO NESSA JORNADA</p>
      </div>
    </div>
</div>
