<div class="main-container">

  <div class="universo-una">
    <%= image_tag "Universo-Una_Logo.png" %>
  </div>

  <div class="floresta-banner">
    <p id='branco'>Uma escola para a</p>
    <p>vida.</p>
  </div>

  <div class="container-universo-una">
    <%= image_tag "Universo-Una_Logo-Selo.png" %>
    <div class="who-are-we">
      <div class="fonts-1">
        <p>O Universo Autônomo Intercultural de Saberes • Útero Amotara Zabelê, é um espaço educativo de responsabilidade multiétnica.</p>
      </div>
      <div class="fonts-2">
        <p>É organizado pelo coletivo Levanta Zabelê com apoio de um grupo de profissionais de várias áreas do conhecimento e representantes da comunidade local, juntos em busca de realizar um espaço educativo livre, autônomo e aberto para propostas de educação alternativas.</p>
        <b>Um espaço para diálogo, geração de conhecimento, aprendizado e experiências mútuas de interação entre diversas culturas, saberes e fazeres.</b>
      </div>
    </div>
  </div>

  <div class="utero-amontara-container">
    <div class="fonts-utero-amontara">
      <p>Localizado em um ecossistema preservado e com grande biodiversidade,
      permite experiências educacionais envolvendo práticas, métodos e conhecimentos compartilhados, contando com um epaço amplo para realização de atividades
      e infra-estrutura para hospedagem.</p>
    </div>
    <%= image_tag "Universo-Una_Nucleos.png" %>
  </div>

  <div class="local">
    <div class="local-carrosel">
      <%= image_tag "Espaco-2.jpg" %>
    </div>
    <div class="description">
      <p>Local onde será construído o Universo Autônomo Intercultural de Saberes • Útero Amotara Zabelê. no sul da Bahia.</p>
    </div>
  </div>

  <div class="container-purpose">
    <div class="purpose">
      <%= image_tag "Proposito_Titulo.png" %>
      <div class="font-purpose">
        <p><b>Vivenciar, respeitar e valorizar a pluralidade etno-cultural do Planeta.</b></p>
        <p>Com temas indígenas, ambientais, científicos, socioculturais, de diferentes vertentes e povos, uniremos pessoas com pontos de vista diferentes para refletirem, repensarem, reavaliarem conceitos e ideias para juntos alcançarmos novos consensos.</p>
        <p>Queremos preencher o vácuo histórico da polarização de ideias, desconstruir mitos que reforçam as desigualdades, expandir nossos sentidos, pensamentos e contribuir para um caminho de evolução conjunta da humanidade, que recupere nossa comunhão uns com os outros e com a Mãe Natureza.</p>
      </div>
    </div>
    <div class="separador">
      <%= image_tag "Fios-separador-verde.png" %>
    </div>
    <div class="purpose">
      <%= image_tag "Objetivos_Titulo.png" %>
      <div class="font-purpose">
        <p><b>Promover vivências, ciclos de debates e oficinas</b>com temáticas variadas, que abordam questões sobre a realidade, as sociedades, culturas, o futuro da humanidade e do planeta Terra, integrando conhecimentos ancestrais e contemporâneos, povos e cultura diversas, saberes científicos e populares.</p>
        <p><b>Desenvolver-se como núcleo de valorização e resgate das culturas e línguas originárias</b> brasileiras e de outros povos do mundo, envolvendo comunidades locais e de outras regiões nas atividades.</p>
        <p><b>Sistematizar encontros com escolas das redes pública e particular</b> para que docentes e discentes vivenciem as experiências de cada uma das células ativas.</p>
      </div>
    </div>
    <div class="separador">
      <%= image_tag "Fios-separador-verde.png" %>
    </div>
    <div class="purpose">
      <%= image_tag "Atividades_Titulo.png" %>
      <div class="font-purpose">
        <p>No Universo Útero, realizamos oficinas, encontros, vivências, workshops, eventos, ações comunitárias, atividade recreativas e culturais, entre outras; evolvendo visitantes e a comunidade tupinambá local.</p>
        <p>A própria construção das malocas e casas fazem parte das atividades de integração entre o coletivo Levanta Zabelê, a comunidade local e nossos apoiadores.</p>
        <p>Também as oficinas de aprendizagem de artesanato e produção
            de produtos que estão disponíveis para venda nas redes do Levanta Zabelê.</p>
      </div>
    </div>
    <div class="separador">
      <%= image_tag "Fios-separador-verde.png" %>
    </div>
  </div>

  <div class="local">
    <div class="local-carrosel">
      <%= image_tag "Espaco-2.jpg" %>
    </div>
    <div class="description">
      <p>Local onde será construído o Universo Autônomo Intercultural de Saberes • Útero Amotara Zabelê. no sul da Bahia.</p>
    </div>
  </div>

</div>
