<div class="main-container">
  <div class="utero">
    <%= image_tag "Utero_Logo.png" %>
  </div>

  <div class="banner-utero">
    <%= image_tag "Utero-Terra.jpg" %>
  </div>

  <div class="utero-principios">
    <%= image_tag "U-Principios_Titulo.png" %>
    <div class="font-purpose">
      <p><b>Útero</b> é o nome do conceito-guia que gerou, orienta, move o <b>ser-Zabelê</b> e suas realizações, como o <b>Universo Autônomo Intercultural de Saberes • Útero Amotara Zabelê.</b></p>
      <p>Representa a contínua geração, aprendizado e evolução da vida.</p>
      <p id="font-red-big">Útero é a experiência de vida.</p>
      <p><b> • nós com a Natureza e o Cosmo;</b><br><b> • saberes, fazeres e seres diversos;</b><br><b>• ancestralidade, presente e futuro;</b><br><b>• coletivo, ética e indivíduo;</b><b>• corpo, organismo e mente;</b><br><b>• ideias, palavras e atitudes.</b></p>
      <p id="font-red-big">Útero é a origem e integra 3 princípios.</p>
    </div>
  </div>

  <div class="decolonizacao">
    <%= image_tag "Decolonizacao_Tipo.png" %>
    <p id=decolonizacao><b>Interagindo, transformando, integrando o ser na diversidade e preparando o corpo-organismo-mente para uma nova experiência de vida.
    </b></p>
  </div>

  <div class="decolonizacao-vermelho">
    <%= image_tag "Decolonizacao_Titulo.png" %>
    <div class="font-deco">
      <p>Aprender para potencializar e evoluir o pensar, fazer e ser para, em coletivo, realizar um mundo melhor. Entendemos que precisamos nos libertar das certezas, abrir nossas mentes e corações para voltar a ouvir o outro e aprender com a diferença.</p>
      <p>Também questionar e redescobrir o caminho que nos trouxe até aqui para repensarmos nossos próximos passos. Acreditamos que uma troca de saberes que ultrapasse os limites e misture culturas, gêneros e etnicidades é o caminho para a evolução coletiva.</p>
      <p>  Queremos contribuir ativamente para desconstruir mitos que reforçam as desigualdades, o preconceito e criar um caminho de evolução do ser-humano na Terra que recupere nossa comunhão uns com os outros, com a Mãe Natureza e o Cosmo. Se o mundo pode ser mais harmônico para nós, precisamos realizá-lo juntos.</p>
      <p>Que a experiência Útero seja uma experiência libertadora e integradora do individual com
      o coletivo, da singularidade com a diversidade, do necessário com o possível, da consciência de“si” com o todo.</p>
    </div>
  </div>

  <div class="troca-saberes">
    <%= image_tag "TrocaSaberes_Tipo.png" %>
    <p id=decolonizacao><b>Conhecer outros pensares, fazeres e seres para conhecer a si mesmo.</b></p>
  </div>

  <div class="decolonizacao-vermelho"  id="azul">
    <%= image_tag "TrocaSaberes_Titulo.png" %>
    <div class="font-deco">
      <p>Acreditamos que o aprendizado só é possível pela interação entre múltiplos saberes. E que novos pontos de vista abrirão o caminho para um constante aprendizado sobre o mundo e sobre nós mesmos. Convivendo, conseguiremos coletivamente nos reconectar aos elementos essenciais que tornam a vida possível: amor, ética, respeito e comprometimento mútuo.</p>
      <p>A troca de saberes amplia, harmoniza e evolui a consciência ética de mundo, integrando o ser com a Realidade, a Natureza e o Universo; o indivíduo com a diversidade e o coletivo, o pensamento com a linguagem e as atitudes; as ideias com a realidade e suas consequências.</p>
      <p>Substancia o pensamento crítico, abrindo a mente para novas possibilidades de compreensão, ação, e realização de um mundo diverso, mais igualitário e com evolução comum.</p>

    </div>
  </div>


</div>
